<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prooyek | Kalkulator plat baja</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename = 'apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename = 'favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename = 'favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename = 'site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename = 'safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script type="text/javascript">
        function setForm(value) {

            if (value == 'persegi panjang') {
                document.getElementById('persegi panjang').style = 'display:block;';
                document.getElementById('persegi').style = 'display:none;';
                document.getElementById('lingkaran').style = 'display:none;';
                document.getElementById('lainnya').style = 'display:none;';
                
            }
            if (value == 'persegi') {
                document.getElementById('persegi panjang').style = 'display:none;';
                document.getElementById('persegi').style = 'display:block;';
                document.getElementById('lingkaran').style = 'display:none;';
                document.getElementById('lainnya').style = 'display:none;';

            }
            if (value == 'lingkaran') {
                document.getElementById('persegi panjang').style = 'display:none;';
                document.getElementById('persegi').style = 'display:none;';
                document.getElementById('lingkaran').style = 'display:block;';
                document.getElementById('lainnya').style = 'display:none;';
            }
            if (value == 'lainnya') {
                document.getElementById('persegi panjang').style = 'display:none;';
                document.getElementById('persegi').style = 'display:none;';
                document.getElementById('lingkaran').style = 'display:none;';
                document.getElementById('lainnya').style = 'display:block;';
            }
        }
    </script>
</head>

<body>
    <div class="main">
        <a href="/">
            <img class="center_image" src="{{url_for('static', filename='logo.svg')}}" alt="logo" width="200px"
                height="auto">
        </a>
        <!-- form -->
        <div class="container" style="padding-top: 3rem;">
            <div class="container-calc">
                <h4 style="text-align: center;">Kalkulator Berat Plat Baja</h4>
                <div>
                    <form action="/platBaja" method="POST">
                        <div class="form_card">
                            <label>Tipe Baja</label>
                            <select name="density">
                                <option value="1">Baja perkakas</option>
                                <option value="2">Besi tempa</option>
                                <option value="3">Baja perkakas karbon</option>
                                <option value="4">Baja tarikan dingin</option>
                                <option value="5">Baja karbon</option>
                                <option value="6">Baja C1020 HR</option>
                                <option value="7">Besi murni</option>
                                <option value="8">Baja ringan</option>
                                <option value="9">Stainless steel</option>
                            </select>
                            <select name="shape" id="shape" onchange="setForm(this.value)">
                                <option value="persegi panjang">Persegi panjang</option>
                                <option value="persegi">Persegi</option>
                                <option value="lingkaran">Lingkaran</option>
                                <option value="lainnya">Bentuk lain</option>
                            </select>
                        </div>
                        <br>
                        <div class="form_card">
                            <label for="shape">Perhitungan plat baja</label>
                        </div>
                        <div class="form_card" id="persegi panjang">
                            Panjang:<input type="number" min="0" step="0.001" placeholder="Panjang (cm)"
                                class="u-full-width" name="panjang"  />
                            Lebar:<input type="number" min="0" step="0.001" placeholder="Lebar (cm)"
                                class="u-full-width" name="lebar"  />
                            Ketebalan:<input type="number" min="0" step="0.001" placeholder="Tebal (cm)"
                                class="u-full-width" name="tebal_persegi_panjang"  />
                            Luas: <div class="alert">
                                {{ luas }} cm&sup2;
                            </div>
                            Volume: <div class="alert">
                                {{ volume }} cm&sup3;
                            </div>
                        </div>

                        <div class="form_card" id="persegi" style="display: none;">
                            sisi:<input type="number" min="0" step="0.001" placeholder="Sisi (cm)" class="u-full-width"
                                name="sisi"  />
                            Ketebalan:<input type="number" min="0" step="0.001" placeholder="Tebal (cm)"
                                class="u-full-width" name="tebal_persegi"  />
                            Luas: <div class="alert">
                                {{ luas }} cm&sup2;
                            </div>
                            Volume persegi: <div class="alert">
                                {{ volume }} cm&sup3;
                            </div>
                        </div>

                        <div class="form_card" id="lingkaran" style="display: none;">
                            diameter:<input type="number" min="0" step="0.001" placeholder="Diameter (cm)"
                                class="u-full-width" name="diameter"  />
                            Ketebalan:<input type="number" min="0" step="0.001" placeholder="Tebal (cm)"
                                class="u-full-width" name="tebal_lingkaran"  />
                            Luas: <div class="alert">
                                {{ luas }} cm&sup2;
                            </div>
                            Volume: <div class="alert">
                                {{ volume }} cm&sup3;
                            </div>
                        </div>

                        <div class="form_card" id="lainnya" style="display: none;">
                            Ketebalan:<input type="number" min="0" step="0.001" placeholder="Tebal (cm)"
                                class="u-full-width" name="tebal_lainnya"  />
                            luas:<input type="number" min="0" step="0.001" placeholder="Luas (cm&sup2;)"
                                class="u-full-width" name="luas_lainnya"  />
                            Volume: <div class="alert">
                                {{ volume }} cm&sup3;
                            </div>
                        </div>

                        <br>
                        <div class="form_card">
                            Jumlah lembar plat baja:<input type="number" min="1" placeholder="Jumlah plat baja"
                                class="u-full-width" name="quantity" required />
                        </div>
                        <br>
                        <div class="form_card">
                            <label for="Berat Total">Berat Total (kg)</label>
                            <div class="summary">
                                {{ berat }} kg
                            </div>
                            <br>
                            <input type="submit" value="Hitung" name="calc_btn" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="container-main">
                <div>
                    <h4>Cara kerja kalkulator plat baja</h4>
                    <p>
                        ad;lfja;lkdjfal;kdjfl;akdhf;akenga/kldfgha dfkgakldthriugha dkfna
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>